{{--  Info bar Component  --}}

<div class="info-header">
	<div class="content">
	<span>{{ text }}</span>
	</div>
</div>


{{--  Usage exemple  --}}

{{--  
	@!component('components.info-bar', text="Use code "IMCOOL" to get 5% reductions")
--}}