@layout('layouts.app')

@section('extracss')
{{ style('css/temporary') }}
@endsection

@section('title')
	GameTrader - Ads
@endsection

@section('content')
<div class="main-container">
  <h1>My Ads</h1>
  @!component('components.ads.ads-display', ads=ads, user=auth.user)
</div>
@endsection