@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa:800&display=swap');

$colors: (
	primary: #1C3FFD,
	secondary: #00305A,
	dark: #101417,
	light: #F7F8F9,
	lighter: #FAFBFB,
);

$font-regular: 'Poppins', sans-serif;
$font-logo: 'Changa', sans-serif;

$font-size-default: 0.95em;

@function color($name) {
	@return map-get($colors, $name);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: color(lighter);
	font-family: $font-regular;
	color: color(dark);
}

.side-nav {
	background-color: color(light);
	height: 100vh;

	.brand-header {
		display: flex;
		justify-content: center;
		padding: 10px 25px;
		border-bottom: 1px solid rgba(color(dark), 0.1);
		margin: 0 0 25px 0;
		align-items: center;
		min-height: 86px;
		& h1 {
			margin: 0;
			text-transform: uppercase;
			font-family: $font-logo;
			font-size: 1.75em;
		}
	}
	
	.user-section {
		padding: 0 25px;
		margin: 0 0 25px 0;
		display: flex;
		align-items: center;
		.avatar img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
			vertical-align: middle;
		}

		.infos {
			display: block;
			margin-left: 25px;
			.name {
				display: block;
				font-weight: bold;
				font-size: 1.25em;
			}
			.rating {
				display: block;
				font-size: 0.8em;
				color: rgba(color(dark), 0.5);
			}
		}
		
	}
	
	.action-section {
		padding: 0 25px;
		margin: 0 0 25px 0;
	}

	.menu {
		font-size: $font-size-default;
		list-style-type: none;
		padding: 0 25px;
		margin: 25px 0;
		
		.title {
			font-size: 0.9em;
			text-transform: uppercase;
			margin: 25px;
			color: rgba(color(dark), 0.6);
		}
		li {
			a {
				position: relative;
				display: flex;
				align-items: center;
				padding: 15px 25px;
				margin: 10px 0;
				text-decoration: none;
				color: rgba(color(dark), 0.6);
				border-radius: 5px;
				// overflow: hidden;
				transition: background 200ms ease, color 200ms ease, box-shadow 200ms ease;
				.feather {
					margin-right: 25px;
				}
				&.active {
					box-shadow: 0 0 50px -5px rgba(color(dark), 0.15);
					color: color(dark);
					.feather {
						color: color(primary);
					}
				}
				&:hover:not(.active) {
					color: color(dark);
					background-color: rgba(color(dark), 0.05);
				}
			}
		}
	}
}

.highlight-btn {
	border: none;
	background-color: color(primary);
	padding: 15px;
	border-radius: 5px;
	color: color(lighter);
	font-family: $font-regular;
	box-shadow: 0 5px 30px -5px rgba(color(primary), 0.5);
	width: 100%;
	transition: transform 200ms ease-out;
	cursor: pointer;
	span {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// font-weight: bold;
		font-size: 1.1em;
		.feather {
			margin-left: 10px;
		}
	}
	&:hover {
		transform: scale(1.05);
	}
}

.select-container {
	position: relative;
	font-size: $font-size-default;
	.select-btn {
		background-color: transparent;
		// width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $font-regular;
		font-size: 1em;
		border: none;
		outline: none;
		padding: 15px 25px;
		border-radius: 5px;
		margin: 0 auto;
		cursor: pointer;
		color: rgba(color(dark), 0.6);
		transition: color 200ms ease, background 200ms ease;
		.feather {
			margin-left: 10px;
		}
		&:hover {
			color: color(dark);
			background-color: rgba(color(dark), 0.05);
		}
	}

	.select-box {
		margin: 10px 0 0;
		padding: 0;
		list-style-type: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		min-width: 180px;
		pointer-events: none;
		background-color: color(lighter);
		box-shadow: 0 0 40px -5px rgba(color(dark), 0.2);
		transition: opacity 200ms ease, top 200ms ease;
		border-radius: 5px;
		z-index: 100;
		&.open {
			top: 100%;
			display: block;
			opacity: 1;
			pointer-events: all;
		}
		li {
			transition: background 200ms ease;
			label {
				display: flex;
				align-items: center;
				padding: 15px;
				input[type="checkbox"] {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}
				.checkmark {
					width: 18px;
					height: 18px;
					background-color: rgba(color(dark), 0.1);
					border-radius: 5px;
					margin-right: 15px;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						width: 70%;
						height: 70%;
						border-radius: 5px;
						transform: translate(-50%, -50%);
						transition: opacity 200ms ease;
					}
				}

				input[type="checkbox"]:checked ~ .checkmark {
					&::after {
						background: color(primary);
						box-shadow: 0 0 10px -2px rgba(color(primary), 1);
					}
				}
				.text {
					user-select: none;
				}
			}
			
			&:hover {
				background-color: rgba(color(dark), 0.05);
			}
		}
	}
}

main {
	height: 100vh;
	box-shadow: 0 0 80px -20px rgba(color(dark), 0.2);
	.header-bar {
		display: flex;
		justify-content: center;
		padding: 25px;
		border-bottom: 1px solid rgba(color(dark), 0.1);
		height: 86px;
		align-items: center;
		flex-wrap: nowrap;
		.search {
			position: relative;
			width: 100%;
			.search-bar {
				border: 1px solid transparent;
				background-color: transparent;
				box-shadow: 0 0 50px -10px rgba(color(dark), 0.2);
				padding: 15px;
				border-radius: 5px;
				outline: none;
				font-size: $font-size-default;
				color: color(dark);
				font-family: $font-regular;
				width: 100%;
				transition: border 200ms ease;
				&:focus {
					border: 1px solid color(primary);
				}
			}
			.results {
				opacity: 0;
				pointer-events: none;
				list-style-type: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				margin: 10px 0 0;
				padding: 0;
				box-shadow: 0 0 30px -10px rgba(color(dark), 0.5);
				z-index: 100;
				background-color: color(lighter);
				border-radius: 5px;
				transition: opacity 200ms ease;
				&.open {
					opacity: 1;
					pointer-events: all;
				}
				li {
					button {
						display: block;
						padding: 15px;
						background-color: transparent;
						border: none;
						width: 100%;
						transition: background 200ms ease;
						font-family: $font-regular;
						font-size: $font-size-default;
						text-align: left;
						outline: none;
						&:hover {
							cursor: pointer;
							background-color: rgba(color(dark), 0.05);
						}
						&:focus {
							cursor: pointer;
							background-color: rgba(color(dark), 0.05);
						}
					}
				}
			}
		}
	}

	.main-section {
		height: calc(100% - 86px);
		overflow: auto;

		.info-header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 45px;
			.content {
				background-color: color(primary);
				color: color(lighter);
				padding: 10px;
				overflow: hidden;
				animation: slideDown 1000ms 1;
			}
		}
	}
}

@keyframes slideDown {
	from {
		max-height: 0;
		padding: 0 10px;
	}

	to {
		max-height: 100%;
		padding: 10px;
	}
}