@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa:800&display=swap');

$colors: (
	primary: #1C3FFD,
	secondary: #00305A,
	dark: #101417,
	light: #F7F8F9,
	lighter: #FAFBFB,
);

$font-regular: 'Poppins', sans-serif;
$font-logo: 'Changa', sans-serif;

$font-size-default: 0.95em;

@function color($name) {
	@return map-get($colors, $name);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: color(lighter);
	font-family: $font-regular;
	color: color(dark);
}

hr {
	border: none;
	background-color: rgba(color(dark), 0.1);
	height: 1px;
}

.side-nav {
	background-color: color(light);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 320px;
	overflow: hidden;
	transition: transform 300ms ease;

	.brand-header {
		display: flex;
		// justify-content: center;
		padding: 10px 25px;
		border-bottom: 1px solid rgba(color(dark), 0.1);
		align-items: center;
		min-height: 86px;
		& h1 {
			margin: 0;
			text-transform: uppercase;
			font-family: $font-logo;
			font-size: 1.75em;

			a {
				color: color(dark);
				text-decoration: none;
			}
		}

		.close-btn {
			border: none;
			background-color: rgba(color(dark), 0.1);
			border-radius: 50%;
			margin-left: auto;
			cursor: pointer;
			outline: none;
			padding: 0;
			height: 24px;
			transform: scale(1.25);
			transition: transform 300ms ease, background-color 300ms ease;

			.feather {
				padding: 5px;
				color: color(lighter);
				transition: color 300ms ease;
				transform: scale(1.1);
			}

			&:hover {
				transform: scale(1.5);
				background-color: rgba(color(dark), 0.2);
				
				.feather {
					color: color(lighter);
				}
			}
		}
	}
	
	.side-nav-body {
		height: calc(100% - 86px);
	}

	.user-section {
		padding: 0 25px;
		margin: 25px 0 0 0;
		display: flex;
		align-items: center;
		.avatar img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
			vertical-align: middle;
		}

		.infos {
			display: block;
			margin-left: 25px;
			.name {
				display: block;
				font-weight: bold;
				font-size: 1.25em;
			}
			.rating {
				display: block;
				font-size: 0.8em;
				color: rgba(color(dark), 0.5);
			}
		}
		
	}
	
	.action-section {
		padding: 0 25px;
		margin: 25px 0 25px 0;
	}

	.menu {
		font-size: $font-size-default;
		list-style-type: none;
		padding: 0 25px;
		margin: 25px 0;
		
		.title {
			font-size: 0.9em;
			text-transform: uppercase;
			margin: 25px;
			color: rgba(color(dark), 0.6);
		}
		li {
			a {
				position: relative;
				display: flex;
				align-items: center;
				padding: 15px 25px;
				margin: 10px 0;
				text-decoration: none;
				color: rgba(color(dark), 0.6);
				border-radius: 5px;
				// overflow: hidden;
				transition: background 200ms ease, color 200ms ease, box-shadow 200ms ease;
				.feather {
					margin-right: 25px;
				}
				&.active {
					box-shadow: 0 0 50px -5px rgba(color(dark), 0.15);
					color: color(dark);
					.feather {
						color: color(primary);
					}
				}
				&:hover:not(.active) {
					color: color(dark);
					background-color: rgba(color(dark), 0.05);
				}
			}
		}
	}
}

.highlight-btn {
	border: none;
	background-color: color(primary);
	padding: 15px;
	border-radius: 5px;
	color: color(lighter);
	font-family: $font-regular;
	box-shadow: 0 5px 30px -5px rgba(color(primary), 0.5);
	width: 100%;
	display: block;
	transition: transform 200ms ease-out;
	cursor: pointer;
	span {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// font-weight: bold;
		font-size: 1.1em;
		.feather {
			margin-left: 10px;
		}
	}
	&:hover {
		transform: scale(1.05);
	}
}

.select-container {
	position: relative;
	font-size: $font-size-default;
	.select-btn {
		background-color: transparent;
		// width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $font-regular;
		font-size: 1em;
		border: none;
		outline: none;
		padding: 15px 25px;
		border-radius: 5px;
		margin: 0 auto;
		cursor: pointer;
		color: rgba(color(dark), 0.6);
		transition: color 200ms ease, background 200ms ease;
		.feather {
			margin-left: 10px;
		}
		&:hover {
			color: color(dark);
			background-color: rgba(color(dark), 0.05);
		}
	}

	.select-box {
		margin: 10px 0 0;
		padding: 0;
		list-style-type: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		min-width: 180px;
		pointer-events: none;
		background-color: color(lighter);
		box-shadow: 0 0 40px -5px rgba(color(dark), 0.2);
		transition: opacity 200ms ease, top 200ms ease;
		border-radius: 5px;
		z-index: 100;
		&.open {
			top: 100%;
			display: block;
			opacity: 1;
			pointer-events: all;
		}
		li {
			transition: background 200ms ease;
			label {
				display: flex;
				align-items: center;
				padding: 15px;
				input[type="checkbox"] {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}
				.checkmark {
					width: 18px;
					height: 18px;
					background-color: rgba(color(dark), 0.1);
					border-radius: 5px;
					margin-right: 15px;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						width: 70%;
						height: 70%;
						border-radius: 5px;
						transform: translate(-50%, -50%);
						transition: opacity 200ms ease;
					}
				}

				input[type="checkbox"]:checked ~ .checkmark {
					&::after {
						background: color(primary);
						box-shadow: 0 0 10px -2px rgba(color(primary), 1);
					}
				}
				.text {
					user-select: none;
				}
			}
			
			&:hover {
				background-color: rgba(color(dark), 0.05);
			}
		}
	}
}

.home-container {
	min-height: 100%;
}

main {
	width: calc(100% - 320px);
	margin-left: 320px;
	height: 100vh;
	box-shadow: 0 0 80px -20px rgba(color(dark), 0.2);
	transition: width 300ms ease, margin 300ms ease;
	z-index: 10;

	.header-bar {
		display: flex;
		justify-content: center;
		padding: 25px;
		border-bottom: 1px solid rgba(color(dark), 0.1);
		height: 86px;
		align-items: center;
		flex-wrap: nowrap;

		.menu-btn {
			border: none;
			background-color: rgba(color(dark), 0.1);
			border-radius: 50%;
			margin-left: auto;
			cursor: pointer;
			outline: none;
			padding: 0;
			height: 24px;
			transform: scale(1.25);
			margin-right: 0;
			width: 0;
			overflow: hidden;
			opacity: 0;

			transition: margin 300ms ease, opacity 300ms ease, width 300ms ease, transform 300ms ease, background-color 300ms ease;

			.feather {
				padding: 5px;
				color: color(lighter);
				transition: color 300ms ease;
				transform: scale(1.1);
			}

			&:hover {
				transform: scale(1.5);
				background-color: rgba(color(dark), 0.2);
				
				.feather {
					color: color(lighter);
				}
			}
		}

		.search {
			position: relative;
			width: 100%;
			.search-bar {
				border: 1px solid transparent;
				background-color: transparent;
				box-shadow: 0 0 50px -10px rgba(color(dark), 0.2);
				padding: 15px;
				border-radius: 5px;
				outline: none;
				font-size: $font-size-default;
				color: color(dark);
				font-family: $font-regular;
				width: 100%;
				transition: border 200ms ease;
				&:focus {
					border: 1px solid color(primary);
				}
			}
			.results {
				opacity: 0;
				pointer-events: none;
				list-style-type: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				margin: 10px 0 0;
				padding: 0;
				box-shadow: 0 0 30px -10px rgba(color(dark), 0.5);
				z-index: 100;
				background-color: color(lighter);
				border-radius: 5px;
				transition: opacity 200ms ease;
				&.open {
					opacity: 1;
					pointer-events: all;
				}
				li {
					button {
						display: block;
						padding: 15px;
						background-color: transparent;
						border: none;
						width: 100%;
						transition: background 200ms ease;
						font-family: $font-regular;
						font-size: $font-size-default;
						text-align: left;
						outline: none;
						&:hover {
							cursor: pointer;
							background-color: rgba(color(dark), 0.05);
						}
						&:focus {
							cursor: pointer;
							background-color: rgba(color(dark), 0.05);
						}
					}
				}
			}
		}
	}

	.main-section {
		height: calc(100% - 86px);
		overflow: auto;

		.info-header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 45px;
			.content {
				background-color: color(primary);
				color: color(lighter);
				padding: 10px;
				overflow: hidden;
				animation: slideDown 1000ms 1;
			}
		}

		footer {
			border-top: 1px solid rgba(color(dark), 0.1);
			padding: 15px;
			p {
				margin: 0;
				text-align: center;
			}
		}
	}
}

@keyframes slideDown {
	from {
		max-height: 0;
		padding: 0 10px;
	}

	to {
		max-height: 100%;
		padding: 10px;
	}
}

#example1 {
    background-color: transparent;
    box-shadow: rgba(16, 20, 23, 0.2) 0px 0px 50px -10px;
    font-size: 0.95em;
    color: rgb(16, 20, 23);
    font-family: Poppins, sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    cursor: text;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    transition: border 200ms ease 0s;
}

.taggle_placeholder {
    position: absolute;
    color: rgba(16, 20, 23, 0.6);
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    user-select: none;
}

.taggle_list {
    display: flex;
    align-items: center;
    padding: 0px;
	margin: 0px;

	li {
		display: block;
		white-space: nowrap;
		margin: 10px 0px;
	}

	.taggle {
		position: relative;
		cursor: pointer;
		animation-duration: 1s;
		animation-fill-mode: both;
		background: rgba(16, 20, 23, 0.05);
		padding: 5px 10px;
		margin: -10px 10px -10px -5px;
		border-radius: 5px;
		transition: all 200ms ease 0s;

		&:hover {
			padding-right: 30px;
			background: rgba(16, 20, 23, 0.1);
			transition: all 200ms ease 0s;

			.close {
				display: block;
			}
		}

		.close {
			font-size: 1.5em;
			font-family: Poppins, sans-serif;
			position: absolute;
			top: 50%;
			right: 0px;
			line-height: 0.5;
			color: rgba(16, 20, 23, 0.5);
			display: none;
			transform: translateY(-50%);
			cursor: pointer;
			text-decoration: none;
			padding: 10px;
			border-width: 0px;
			border-style: initial;
			border-color: initial;
			border-image: initial;
			background: none;
			outline: none;
			transition: all 300ms ease 0s;

			&:hover {
				color: rgb(28, 63, 253);
			}
		}

		&.taggle_hot {
			background: rgba(16, 20, 23, 0.1);
		}
	}
}

.taggle_input {
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    color: rgb(16, 20, 23);
    font-family: Poppins, sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    padding: 0px;
    background: none;
}

.taggle_sizer {
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
    padding: 0px;
    margin: 0px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px !important;
	padding-bottom: 50px !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: 300px !important;
}

.ad-slide {
    box-shadow: rgba(16, 20, 23, 0.15) 0px 0px 50px -5px;
    border-radius: 5px;
    background: rgb(250, 251, 251);
    transition: background 200ms ease 0s !important;
}

.ad-slide.swiper-slide-active {
    box-shadow: rgba(16, 20, 23, 0.15) 0px 0px 50px -5px;
    border-radius: 5px;
    background: rgb(28, 63, 253);
}

.swiper-button-prev {
    margin-left: 5%;
}

.swiper-button-next {
    margin-right: 5%;
}

.swiper-button-next, .swiper-button-prev {
    text-shadow: rgba(28, 63, 253, 0.5) 0px 0px 30px;
    color: rgb(28, 63, 253) !important;
    outline: none;
}

.swiper-pagination-bullet {
    box-shadow: rgba(16, 20, 23, 0) 0px 0px 10px 0px;
    background-color: rgba(16, 20, 23, 0.2) !important;
    opacity: 1 !important;
	transition: box-shadow 200ms ease 0s, transform 200ms ease 0s !important;
	&:hover {
		transform: scale(1.3);
	}
}

.swiper-pagination-bullet-active {
    box-shadow: rgba(28, 63, 253, 0.2) 0px 0px 10px 0px;
    transform: scale(1.5);
    background-color: rgb(28, 63, 253) !important;
    transition: box-shadow 200ms ease 0s, transform 200ms ease 0s !important;
}

.ads-container {
	// padding: 0 25px;
	margin: 25px auto;
	max-width: 960px;

	.title {
		margin: 25px 0 15px 0;
	}

	.ad {
		display: flex;
		box-shadow: 0 0 30px -5px rgba(color(dark), 0.2);
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		margin: 25px 0;

		img {
			position: relative;
			height: 150px;
			width: 300px;
			object-fit: cover;
			border-radius: 5px 0 0 5px;
		}

		.content {
			position: relative;
			margin-left: 25px;
			width: 100%;
			overflow: hidden;

			.header {
				display: flex;
				justify-content: center;
				align-items: baseline;
			}

			.platform {
				display: inline-block;
				opacity: 0.4;
				margin-right: 10px;
				height: 22px;
				width: 22px;
				transform: translateY(2px);
			}

			.title {
				font-size: 1.5em;
				margin: 10px 0 0 0;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-all;
				width: 100%;

				a {
					color: color(dark);
					text-decoration: none;
				}
			}

			.price {
				color: color(primary);
				font-size: 1.5em;
			}

			.genres {
				display: block;
				margin-top: 5px;

				.genre {
					display: inline-block;
					padding: 5px 10px;
					border-radius: 50px;
					background-color: rgba(color(dark), 0.1);
					color: rgba(color(dark), 0.6);
					font-size: 0.8em;
				}
			}

			.date {
				display: block;
				color: rgba(color(dark), 0.6);

				&::first-letter {
					text-transform: uppercase;
				}
			}

			.icon {
				position: absolute;
				bottom: 30px;
				right: 100px;
				transform: scale(8);
				opacity: 0.1;
			}

			.icon1 {
				position: absolute;
				bottom: 80px;
				right: 150px;
				transform: scale(2) rotate(25deg);
				opacity: 0.1;
			}

			.icon2 {
				position: absolute;
				bottom: 130px;
				right: 100px;
				transform: scale(3) rotate(68deg);
				opacity: 0.1;
			}

			.link {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				display: flex;
				transform-origin: right;
				transform: translateX(200%);
				transition: transform 300ms ease, border-radius 300ms ease;
				background: color(primary);
				color: color(lighter);
				align-items: center;
				justify-content: center;
				padding: 0 25px;

				.feather {
					transform: translateX(100%);
					transition: transform 400ms ease;
					transition-delay: 100ms;
				}

				&:hover {
					transform: scale(0.9) !important;
					border-radius: 5px 0 0 5px;
				}
			}
		}

		.user-controls {
			list-style-type: none;
			position: absolute;
			bottom: 5px;
			left: 5px;
			margin: 0;
			padding: 0;
			display: flex;

			li {
				display: block;
				a {
					display: block;
					text-decoration: none;
					border: none;
					background-color: rgba(color(dark), 0.6);
					border-radius: 50%;
					cursor: pointer;
					outline: none;
					padding: 10px;
					margin: 0 0 10px 10px;
					// height: 24px;
					transition: transform 300ms ease, background-color 300ms ease;

					.feather {
						display: block;
						color: color(lighter);
						transition: color 300ms ease;
						height: 20px;
						width: auto;
						// transform: scale(1.1);
					}

					&:hover {
						transform: scale(1.1);
						background-color: rgba(color(dark), 0.8);
						
						.feather {
							color: color(lighter);
						}
					}
				}
			}
		}

		&:hover .content .link {
			transform: translateX(0);

			.feather {
				transform: translateX(0);
			}
		}
	}
}

.ad-pic {
	box-shadow: rgba(16, 20, 23, 0.15) 0px 0px 50px -5px;
    border-radius: 5px;
	background-color: rgb(250, 251, 251);
	background-size: cover;
}

.ad-seller {
	border-left: 1px solid rgba(color(dark), 0.1);

	.container {
		padding: 25px;
		display: flex;
		border-bottom: 1px solid rgba(color(dark), 0.1);
		align-items: center;

		.avatar img {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
			vertical-align: middle;
		}

		.infos {
			display: block;
			margin-left: 25px;
			.name {
				display: block;
				font-weight: bold;
				font-size: 1.25em;
			}
			.rating {
				display: block;
				font-size: 0.8em;
				color: rgba(color(dark), 0.5);
			}
		}
	}

	.ad-infos {
		margin: 25px;
		word-break: break-all;
	}

	.contact {
		width: 100%;
	}
}

.main-container {
	padding: 0 25px;
	margin: 25px auto;
	max-width: 960px;
	min-height: 90%;
}

.input {
	border: 1px solid transparent;
	background-color: transparent;
	box-shadow: 0 0 50px -10px rgba(color(dark), 0.2);
	padding: 15px;
	border-radius: 5px;
	outline: none;
	font-size: $font-size-default;
	color: color(dark);
	font-family: $font-regular;
	transition: border 200ms ease;
	&:focus {
		border: 1px solid color(primary);
	}
}

.user-info {
	border-radius: 5px;
	padding: 25px;
	box-shadow: 0 0 50px -10px rgba(color(dark), 0.2);
	display: flex;
	align-items: center;
	.avatar img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
		vertical-align: middle;
	}

	.infos {
		display: block;
		margin-left: 25px;
		.name {
			display: block;
			font-weight: bold;
			font-size: 1.25em;
		}
		.rating {
			display: block;
			font-size: 0.8em;
			color: rgba(color(dark), 0.5);
		}
	}
}