@layout('layouts.app')

@section('title')
	GameTrader - Search
@endsection

@section('stylesheets')
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
@endsection

@section('content')
{{ toJSON(ads) }}
<div class="main-container">
	<form action="/search" method="GET">
		
	</form>
	@!component('components.ads.ads-display', ads=ads, user=auth.user)
</div>
@endsection