<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		@!section('title')
	</title>

	<!-- Style -->
	{{ style('css/app') }}

	@!section('stylesheets')

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons"></script>

	<!-- Lilcss -->
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/ColinEspinas/lilcss/css/utility.min.css'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/ColinEspinas/lilcss/css/grid.min.css'>

	<!-- Plugin CSS -->
	<link type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css"
		rel="stylesheet" />
	<!-- Plugin JS -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js"></script>

	<!-- Scripts -->
	{{ script('js/app') }}
	{{ script('js/taggle') }}

	@!section('pre-content-scripts')

</head>

<body>
	<div class="wrapper lil-row">
		<nav class="side-nav">
			<div class="brand-header">
				<h1><a href="/">GameTrader</a></h1>
				<button class="close-btn"><i data-feather="chevron-left"></i></button>
			</div>
			<div class="side-nav-body">
				<div class="user-section">
					<div class="avatar">
						<a href="#">
							<img src="/avatar.jpg" alt="">
						</a>
					</div>
					<div class="infos">
						<span class="name">Colin E.</span>
						<span class="rating">Rating: 4.76/5</span>
					</div>
				</div>
				<div class="action-section">
					<button class="highlight-btn" onclick="window.location.replace('/ad/create')"><span>Create an Ad<i data-feather="plus"></i></span></button>
				</div>
				<ul class="menu">
					<div class="title">Menu</div>
					<li><a class="active" href="/"><i data-feather="home"></i>Home</a></li>
				@loggedIn
				<li><a href="/user/{{ auth.user.id }}"><i data-feather="user"></i>Profile</a></li>
				<li><a href="/user/ads"><i data-feather="file-text"></i>My Ads</a></li>
				@endloggedIn
				</ul>
				<ul class="menu">
				@loggedIn
					<li><a href="/logout"><i data-feather="log-out"></i>Log out</a></li>
				@else
					<li><a href="/login"><i data-feather="log-in"></i>Log in</a></li>
					<li><a href="/signup"><i data-feather="user-plus"></i>Sign up</a></li>
				@endloggedIn
				</ul>
			</div>
		</nav>
		<main>
			<div class="header-bar">
				<button class="menu-btn"><i data-feather="chevron-right"></i></button>
				<div class="search">
					<div id="example1" class="">
					</div>
					<ul class="results"></ul>
				</div>
			</div>
			<div class="main-section">
				@!section('content')
				<footer>
					<p>Just a temporary page footer 😉</p>
				</footer>
			</div>
		</main>
	</div>


	<script>
		feather.replace();
	</script>

	@!section('post-content-scripts')
	
</body>

</html>
